html {
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(../img/colores.webp);
    background-size: cover;
    background-position: center center;
    font-size: 1.6rem;
}

/*************NAVEGACION*************/
.navegacion {
    max-width: 100vw;
    background-color: #333;
    padding: 1rem;
}
.navegacion__buttons {
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navegacion button {
    padding: 5px;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}


/*********** FORMULARIO **************/
#formulario-display {
    display: block;
}

input, select, .form__btn {
    font-family: arial;
    color: #333;
    font-size: 14px; }
   
p, h1, h2, h3, h4, h5, h6 {
    margin: 0; 
}
   
.img-lateral {
    max-width: 100%;
    display: block;
}

   
:focus {
    outline: none; 
}
   
.wrapper {
    padding-top: 16rem;
    display: flex;
    align-items: center;
} 
.inner {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    background: #fff;
    width: 850px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
}
.inner form {
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px; 
}
.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    padding: 2rem;
    grid-column: 1 / 3;
}
.grid-2 .fecha{
    text-align: center;
    cursor: pointer;
}
.grid-2 input:disabled {
    background-color: rgba(51, 51, 51, .4);
    border-radius: 5px;
    border: none;
    text-align: center;
}
.form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    height: 30px;
    padding: 0;
    margin-bottom: 25px; 
}


.form-control::-webkit-input-placeholder {
    font-size: 14px;
    color: gray;
    font-family: arial;
}

     
select {
    font-size: 14px;
    font-family: arial;
    cursor: pointer;
    color: gray;
    background-color: transparent;
    flex-basis: 100%;
}
#fecha-fin {
    background-color: #544179;
    color: whitesmoke;
}
#input-costo {
    background-color: rgb(255, 94, 94);
    color: whitesmoke;
}
#input-costo::placeholder {
    color: white;
}

select option[value=""][disabled] {
    display: none;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}
.checkbox :hover {
    cursor: pointer;
}   
.form__btn {
    border: none;
    width: 164px;
    height: 51px;
    margin: 2rem auto ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    transition: font-size 0.3s ease;
}
.form__btn:hover{
    background: #544179;
    font-size: 18px;
}
   
@media (max-width: 767px) {
    .inner {
      display: block;
    }
    .inner .image-holder {
        width: 100%; 
    }
    .inner form {
        width: 100%;
        padding: 40px 0 30px; 
    }
    .img-lateral {
        max-width: 100%
        
    }
}
@media (max-width: 468px)  {
    .grid-2 {
        grid-template-columns: none;
    }
}
/*********** FORMULARIO FIN **************/


/*********** HOTEL **************/
.display.hotel.fondo {
    display: none;
    background-image: url(../img/casas.webp);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #B8E4F0;
    
}

#hotel-display {
    margin: 0 auto;
    min-height: 917px;
    background-image: url(../img/hotel.webp);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.ventanas {
    padding-top: 25rem;
    display: grid;
    width: 31.5rem;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 49px;
    column-gap: 28px;
}

.ventana {
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 5rem;
    cursor: pointer;
}

/*********** HOTEL FIN **************/


/*********** PANEL DE CONTROL **************/
#card-display {
    display: none;
}
.costos {
    background-color: #fff;
    max-width: 35rem;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px solid #333;
}
.costos__titulo {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    margin-bottom: 2rem;
}
.costos__dias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 1rem;
}
.costos__dias:last-of-type {
    border-bottom: none;
}
.costos input {
    max-width: 7rem;
    text-align: center;
    border-bottom: none;
    background-color: #e1e1e1;
    background-color: rgba(243, 235, 235, 0.637);
    border-radius: 5px;
    margin-bottom: 0;
}
.costos .btn__control {
    display: block;
}
.costos p {
    text-align: center;
    color: #28B604;
}
.btn__control {
    margin: 0 auto;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    margin-bottom: 1rem;
}
.btn__control:hover {
    background-color: black;
}
.titulo__inquilinos {
    text-align: center;
    text-transform: uppercase;
    margin: 5rem auto 2rem;
    background-color: #fff;
    max-width: 20rem;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
    border: 1px solid #333;
    /* border-radius: 5px; */
    padding: .5rem;
}
.inquilinos__btns {
    display: flex;
    max-width: 60rem;
    margin: 4rem auto 4rem;
}
.inquilinos__btns button {
    width: 8rem;
}


/*********** CARD **************/
.contenedor-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
    gap: 2rem;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.acordeon .h2 {
    text-align: center;
    padding: 1rem 0 0.5rem 0;
}

.card {
    position: relative;
    max-width: 35rem;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
    border: 1px solid #333;    
}
.card__imagen img {
    padding: 2rem 0px 1rem;
    max-width: 15rem;
    max-height: auto;
    border-radius: 50%;

}
.card__pago {
    position: absolute;
    top: 5.5rem;
    left: 1.5rem;
    background: #888;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;

}
.card__detalles {
    padding: 1rem 3rem;

}
.card__detalles h3 {
    font-size: 2.5rem;
    color: #111;
    margin-bottom: 5px;

}
.card__detalles__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2.5rem 3rem;
    gap: 3rem;

    
}
.card__items p {
    font-size: 14px;
    margin-bottom: 2px;
    color: #555;

}
.card__items :last-child {
    font-size: 18px;
    color: #444;
    font-weight: bold;

}
.card button {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: #111;
    color: white;
    transition: background-color 0.2s ease;

}
.card button:hover {
    background-color: #444;

}

/*********** CARD FIN**************/

.sweet-piso {
    font-size: 4rem;
}
.sweet-nombre {
    font-size: 3rem;
}
.sweet-texto {
    margin-top: 5px;
    font-size: 2rem;
}